<template name="NeedsReview">
<table class="table">
	<th>Product Name</th>
	<th>Product Name</th>
	<th>Old Part #</th>
  <th>Pub Desc.</th>
  <th>Variations</th>
	<th>Int. Desc.</th>
	<th>Man. PN</th>
	<th>Order Notes</th>
	<th>Price</th>
	<th>Cost</th>
	<th>Hndl chrg</th>
	<th>Adj. Tags</th>
	<th>tags</th>
  {{#each ent}}
  <tr>
  	<td>  <a href="/{{_id}}">{{name}}</a></td>
  		<td>
  			<a href="/{{_id}}#name">
  				<div class="{{chkd "name"}}">
  					&nbsp;
					</div>
				</a>
			</td>
  		<td>
  		<a href="/{{_id}}#oldPart">
  		<div class="{{chkd "oldPart"}}">
  			&nbsp;</div></a></td>
  		<td>
  		<a href="/{{_id}}#pubDesc">
  			<div class="{{chkd "pubDesc"}}">&nbsp;
  			</div></a></td>
      <td>
      <a href="/{{_id}}#variations">
        <div class="{{chkd "variations"}}">&nbsp;
        </div></a></td>
  	<td>
  	<a href="/{{_id}}#internalDesc">
  		<div class="{{chkd "internalDesc"}}">&nbsp;</div></a></td>
  	<td>
  	<a href="/{{_id}}#manPn">
  		<div class="{{chkd "manPn"}}">&nbsp;</div></a></td>
  	<td>
  	<a href="/{{_id}}#orderingNotes">
  		<div class="{{chkd "orderingNotes"}}">&nbsp;</div></a></td>
  	<td>
  	<a href="/{{_id}}#price">
  		<div class="{{chkd "price"}}">&nbsp;</div></a></td>
  	<td>
  	<a href="/{{_id}}#cost">
  		<div class="{{chkd "cost"}}">&nbsp;</div></a></td>
  	<td>
  	<a href="/{{_id}}#handling">
  		<div class="{{chkd "handling"}}">&nbsp;</div></a></td>
	  	<td><a href="/{{_id}}#relatedTags">
  		<div class="{{chkd "relatedTags"}}">&nbsp;</div></a></td>
  	<td><a href="/{{_id}}#tags">
  		<div class="{{chkd "tags"}}">&nbsp;</div></a></td>
  	</tr>
  	{{/each}}
  	</table>
</template>